<div class="container" >
  <div class="row">
    <div class="col-xs-6">
       <form class="form-horizontal" style="margin-left:1em;">
         <div class="form-group">
           <label>Noms</label>
           <input type="name" class="form-control" placeholder="Noms" ng-model="card.ownerName">
         </div>
         <div class="form-group">
           <label>Adresse</label>
           <input type="adress" class="form-control" placeholder="Adresse" ng-model="address.address">
         </div>
         <div class="form-group">
             <label>Code Postal</label>
             <input type="postal-code" class="form-control" ng-model="address.zipcode" placeholder="Code Postal">
           </div>
           <div class="form-group">
             <label>Ville</label>
             <input type="city" class="form-control" placeholder="Ville" ng-model="address.city">
         </div>
         <div class="form-group">
           <label>Pays</label>
           <input type="country" class="form-control" placeholder="Pays" ng-model="address.country">
        </div>
      </form>
    </div>
    <div class="col-xs-1">
    </div>
    <div class="col-xs-5">
      <form class="form-horizontal" style="margin-left:1em;">
        <div class="form-group">
          <label>Numero de Carte Bancaire</label>
          <input type="CB" class="form-control" placeholder="Numero de carte bancaire" ng-model="card.number">
        </div>
        <div class="form-group">
          <label>Date de fin de validite</label>
            <select ng-model="month">
              <option value="01">Janvier</option>
              <option value="02">Fevrier</option>
              <option value="03">Mars</option>
              <option value="04">Avril</option>
              <option value="05">Mai</option>
              <option value="06">Juin</option>
              <option value="07">Juillet</option>
              <option value="08">Aout</option>
              <option value="09">Septembre</option>
              <option value="10">Octobre</option>
              <option value="11">Novembre</option>
              <option value="12">Decembre</option>
            </select>
            <select  ng-model="year">
              <option value="2015">2015</option>
              <option value="2016">2016</option>
              <option value="2017">2017</option>
              <option value="2018">2018</option>
              <option value="2019">2019</option>
              <option value="2020">2020</option>
            </select>
        </div>
        <div class="form-group">
          <label>Criptogramme</label>
          <input type="crypto" class="form-control" placeholder="Criptogramme" ng-model="card.verificationCode">
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4 col-xs-offset-8">
      <div class="form-actions" >
        <button type="submit" class="btn btn-large btn-primary" ng-click="validCommand()">Validation de la commande</button>
      </div>
    </div>
  </div>
</div>
