<div class="container">
  <table class="table table-hover table-condensed" id="basket">
    <thead></thead>
    <tbody>
      <tr ng-repeat="produit in cart">
        <td class="col-xs-1 hidden-xs">
          <img class="img-responsive" ng-src="{{produit.imageUrl}}" style="max-width:4em;max-height:4em;"></img>
        </td>
        <td class="col-xs-5" >
          <h4 class="nomargin">{{produit.name}}</h4>
        </td>
        <td class="col-xs-1" data-th="Prix">{{produit.price}}€</td>
        <td class="col-xs-2" data-th="Quantite">
          {{produit.quantity}}
        </td>
        <td class="col-xs-1" class="text-center" data-th="Sous-Total">{{produit.price * produit.quantity}}€</td>
        <td class="col-xs-2" class="action" data-th="">
          <button class="btn btn-danger btn-sm" ng-click="removeAll(produit.id, produit.quantity)">
            <i class="fa fa-trash-o"></i>
          </button>
          <button class="btn btn-danger btn-sm" ng-click="removeOne(produit.id)">
            <i class="fa fa-minus"></i>
          </button>
          <button class="btn btn-success btn-sm" ng-click="addOne(produit.id)">
            <i class="fa fa-plus"></i>
          </button>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td class="hidden-xs" colspan="3"></td>
        <td class="hidden-xs text-center">
          <strong>Total {{getTotal()}}€</strong>
        </td>
        <td>
          <a class="btn btn-success btn-block" ui-sref="webapp.info">
            Valider la commande
            <i class="fa fa-angle-right"></i>
          </a>
        </td>
        <td></td>
      </tr>
    </tfoot>
  </table>
</div>
