<div class="container">
  <div class="row text-center">

          <div class="col-md-3 col-sm-6 " ng-repeat="produit in produits">
              <div class="thumbnail">
                  <img ng-src="{{produit.photoUrl}}" style="max-width:4em;max-height:4em;">
                  <div class="caption">
                      <h3>{{produit.name}}</h3>
                      <p>
                          <a ui-sref="webapp.produit({ id: produit.id })" class="btn btn-default">Informations sur le produit</a>
                      </p>
                  </div>
              </div>
          </div>

      </div>
      <!-- /.row -->
</div>
