<div class="container" >
  <div class="row">
    <div class="col-xs-6">
       <form class="form-horizontal" style="margin-left:1em;">
         <div class="form-group">
           <label>Noms</label>
           <input type="name" class="form-control" placeholder="Noms">
         </div>
         <div class="form-group">
           <label>Adresse</label>
           <input type="adress" class="form-control" placeholder="Adresse">
         </div>
         <div class="form-group">
             <label>Code Postal</label>
             <input type="postal-code" class="form-control" placeholder="Code Postal">
           </div>
           <div class="form-group">
             <label>Ville</label>
             <input type="city" class="form-control" placeholder="Ville">
         </div>
         <div class="form-group">
           <label>Pays</label>
           <input type="country" class="form-control" placeholder="Pays">
        </div>
      </form>
    </div>
    <div class="col-xs-1">
    </div>
    <div class="col-xs-5">
      <form class="form-horizontal" style="margin-left:1em;">
        <div class="form-group">
          <label>Numero de Carte Bancaire</label>
          <input type="CB" class="form-control" placeholder="Numero de carte bancaire">
        </div>
        <div class="form-group">
          <label>Date de fin de validite</label>
            <select>
              <option value="1">Janvier</option>
              <option value="2">Fevrier</option>
              <option value="3">Mars</option>
              <option value="4">Avril</option>
              <option value="5">Mai</option>
              <option value="6">Juin</option>
              <option value="7">Juillet</option>
              <option value="8">Aout</option>
              <option value="9">Septembre</option>
              <option value="10">Octobre</option>
              <option value="11">Novembre</option>
              <option value="12">Decembre</option>
            </select>
            <select>
              <option value="2015">2015</option>
              <option value="2016">2016</option>
              <option value="2017">2017</option>
              <option value="2018">2018</option>
              <option value="2019">2019</option>
              <option value="2020">2020</option>
            </select>
        </div>
        <div class="form-group">
          <label>Criptogramme</label>
          <input type="crypto" class="form-control" placeholder="Criptogramme">
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4 col-xs-offset-8">
      <div class="form-actions" >
        <button type="submit" class="btn btn-large btn-primary">Validation de la commande</button>
      </div>
    </div>
  </div>
</div>
